/*====================================================================
		rfunc5.rc

		rFunc InterBase UDF library.
		Resourse file.

		Copyright 2009 PoleSoft Technologies Group
		http://www.polesoft.ru/project/rfunc
		mailto:support@polesoft.ru

	 This library is free software; you can redistribute it and/or
	 modify it under the terms of the GNU Lesser General Public
	 License as published by the Free Software Foundation; either
	 version 2.1 of the License, or (at your option) any later version.
	 See license.txt for more details.

====================================================================== */

LANGUAGE LANG_RUSSIAN,1

1 VERSIONINFO LOADONCALL MOVEABLE DISCARDABLE IMPURE
FILEVERSION 2, 2, 0, 1
PRODUCTVERSION 5, 6, 0, 29
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEOS VOS__WINDOWS32
FILETYPE VFT_DLL
{
	BLOCK "StringFileInfo"
	{
		BLOCK "041904E3"
		{
			VALUE "CompanyName", "PoleSoft Technologies Group\000"
			VALUE "FileDescription", "UDF library for InterBase 5 RDBMS\000"
			VALUE "FileVersion", "2.2.0.1\000"
			VALUE "InternalName", "RFUNC\000"
			VALUE "LegalCopyright", "Copyright \251 1998-2009 PSTG\000"
			VALUE "OriginalFilename", "RFUNC.DLL\000"
			VALUE "ProductVersion", "5.6.0.29\000"
			VALUE "E-Mail", "support@polesoft.ru\000"
			VALUE "HomePage", "http://rfunc.sourceforge.net\000"
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 1049, 1251
	}
}

